*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --text-font: 'Barlow', sans-serif;
    --title-font: 'Fraunces', serif;
    --red:#fe7867;
    --yellow: #fad400;
    --gray:  #a7abae;
    --white:#ffffff;
    --graphic-text:#25564b;
    --photography-text:#19536b;
    --footer-bg:#458c7e;
    --body-bg: #fffbf8;

}
body{
    font-family: var(--text-font);

}
header{
    color: var(--white);
    height: 80vh;
    background-image: url(./images/mobile/image-header.jpg);
    background-position: bottom;
    background-size: cover;
    padding: 32px 16px;
    display: grid;
}
header nav{
    display: flex;
    justify-content: space-between;
}
header .logo{
    font-size: 1.5rem;
    font-weight: 700;
}
header h1{
    font-family: var(--title-font);
    font-size: 2.5rem;
    text-transform: uppercase;
    font-weight: 900;
    place-self: center;
    text-align: center;
    letter-spacing: .5rem;
}
header .icon-arrow-down{
    place-self: center;
}
.values img{
    width: 100%;
}
.description{
    /* background-color: var(--body-bg); */
    display: grid;
    padding-block: 64px;
    place-items: center;
    height: 500px;
}
.description__tittle{
    font-family: var(--title-font);
    font-size: 2rem;
    font-weight: 900;
    text-align: center;
    width: 300px;
}
.description__text{
    padding: 0px 16px;
    font-size: 1.2rem;
    font-weight: 600;
    color: var(--gray);
    width: 375px;
    text-align: center;
}
.description__learn-more{
    position: relative;
    font-family: var(--title-font);
    font-weight: 900;
    font-size: 1.2rem;
    text-transform: uppercase;
}
.line{
    position: absolute;
    height: 8px;
    width: 110%;
    border-radius: 4px;
    z-index: -1%;
    opacity: 30%;
    left: -5%;
    bottom: 1%;
}
.line-yellow{
    background-color: var(--yellow);
}
.line-red{
    background-color: var(--red);
}
.container{
    height: 600px;
    background-size: cover;
}
.container.graphic{
    background-image: url(./images/mobile/image-graphic-design.jpg);
}
.container.graphic div{
    color: var(--graphic-text);
}
.container .description{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    gap: 22px;
    height: 100%;
}
.container .description__tittle{
    font-size: 1.5rem;
}
.container .description__text{
    font-size: 1rem;
    font-weight: 600;
}
.container.photography{
    background-image: url(./images/mobile/image-photography.jpg);
}
.container.photography div{
    color: var(--photography-text);
}
.testimonials{
    text-align: center;
}
.testimonials-tittle{
    font-family: var(--title-font);
    font-size: 1.1rem;
    letter-spacing: .2rem;
    color: var(--gray);
    text-transform: uppercase;
    padding-top: 32px;
}
.client{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 32px;
    height: 400px;
}
.client__avatar{
    width: 72px;
    height: 72px;
    border-radius: 50%;
    background-size: cover;    
}
.client__avatar.client1{
    background-image: url(./images/image-emily.jpg);
}
.client__text{
    font-size: 1.2rem;
    font-weight: 600;
    line-height: 2rem;
    opacity: .6;
    padding: 0px 16px;
}
.client__name{
    font-family: var(--title-font);
    font-size: 1.2rem;
    font-weight: 900;
}
.client__job{
    color: var(--gray);
    font-weight: 600;
    padding-top: 12px;
    font-size: 1rem;
}
.client__avatar.client2{
    background-image: url(./images/image-thomas.jpg);
}
.client__avatar.client3{
    background-image: url(./images/image-jennie.jpg);
}
.images{
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-areas:
    "f1 f2"
    "f3 f4";
}
.foto{
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    overflow: hidden;
}
.foto:nth-child(1){
    grid-area: f1;
    background-image: url(./images/mobile/image-gallery-milkbottles.jpg);
}
.foto:nth-child(2){
    grid-area: f2;
    background-image: url(./images/mobile/image-gallery-orange.jpg);
}
.foto:nth-child(3){
    grid-area: f3;
    background-image: url(./images/mobile/image-gallery-cone.jpg);
}
.foto:nth-child(4){
    grid-area: f4;
    background-image: url(./images/mobile/image-gallery-sugar-cubes.jpg);
}

